{% extends 'base.html' %}
{% block title %}Welcomes{% endblock %}
<style>
body {
  font-family:"Lucida Console", Courier, monospace;
}
</style>
{% block body %}
  
<form class="form-inline my-2 my-lg-0" action="/login" method="POST">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="email" name="email" class="form-control" id="inputPassword2" placeholder="Email">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="password" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Login</button>
</form>



</nav>
</BR>
</BR>
</BR>
</BR>
</br>

<div class="container">
  <div class="jumbotron" style="background-color:rgba(255, 255, 255, 0.822); border: black;">
      <h1 class="display-4">About Project</h1>
      <p class="lead">My project is a website site where users can see lists of  country cuisines. They can click on the cuisine and find a dish to see  recipes. Application provides users information about the chosen dish.
         They can also rate (1-5) the recipe after trying.</p>
      <hr class="my-4">
      <p>API: https://spoonacular.com/food-api/</p>
      <p>GITHUB: https://github.com/emine44/Find-Recipe.git</p>
      <a class="btn btn-primary btn-lg" href="/sign_up" id="signUp" role="button">Sign Up</a>
    </div>
  </div>


{% endblock %}
