{% extends 'base.html' %}
{% block title %}Welcomes{% endblock %}
 
{% block body %}
<form class="form-inline my-2 my-lg-0">
  <a href="/" class="btn btn-outline-success my-2 my-sm-0" role="button" >Logout</a> 
 </form>
  </nav>
  
 </br></br></br></br>
 
<div class="container-6">
  <div class="accordion" id="accordionExample" style="background-color:rgba(255, 255, 255,0.80); border: black;">
    
    <h1>Welcome {{user.user_name}}</h1>
  
    {% for item in items %}

    <div class="card" style="background-color:rgba(255, 255, 255, 0.50);">
      <div class="card-header" id="heading{{item.cuisine_country}}">
        <h1 class="mb-2" style="border-width: 5px;border-style:ridge;">
          <button  class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseThree{{item.cuisine_country}}" aria-expanded="false"
            aria-controls="collapseThree{{item.cuisine_country}}" >
            {{item.cuisine_country}}
          </button>
        </h1>
      </div>
      <div id="collapseThree{{item.cuisine_country}}" class="collapse" aria-labelledby="heading{{item.cuisine_country}}"
        data-parent="#accordionExample">
        <div class="card-body">
          <div class="d-flex flex-wrap bg-light">
            
            {%for dish in dish_list%}
            {%if dish.cuisine_id==item.cuisine_id%}

              {%for rating in dish.ratings%}
                 
                    
               
            <a href="/dish_details?dish_id={{ dish.dish_id }}">
              <div class="p-2 border" id="{{dish.dish_id}}"><b>{{dish.name}}</b>
                <div> <img src="{{dish.image}}" id='dish_img'> </div>Rating:  <b name="score"> {{ (dish.ratings|sum(attribute='score')) / dish.rating |length() }}</b>
              </div>
            </a>
            {%endfor%}
            {%endif%} 
            {%endfor%}
          </div>
        </div>
      </div>
    </div>

    {%endfor%}

  </div></div>
  {% endblock %}