{% extends 'base.html' %}
{% block title %}Welcomes{% endblock %}
 
{% block body %}
<form class="form-inline my-2 my-lg-0" style="font-family: Haettenschweiler;">
  <a href="/" class="btn btn-outline-success my-2 my-sm-0" role="button" >Logout</a> 
 </form>
  </nav>

  <main role="main">
<div class="container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="font-family: Haettenschweiler; background-color:rgba(255, 255, 255, 0.822); border: black;">
      <div class="container">
 <table>
   <td>
            <h4><div class="p-2 border"><b>{{summary["title"]}}</b></h4>
              <div> <img src="{{dish.image}}" id='dish_img'> </div></td>
    <td>    <section id="summary" style="align-items: center;">
          {{ summary["summary"] | safe }}
        </section> </td></table>
        <p>Rating:</p>
      
      <p> 
    <form action="/dish_details" method="POST">
      <input type="hidden" name="dish_id" value="{{summary['id']}}">

        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
            <select class="custom-select mr-sm-2" name="rate">
              <option selected>Rate Dish</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
              <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
            </div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary" id="rate_submit">Submit</button>
          </div>
        </div>
      </form>
      </p> 
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="font-family: Haettenschweiler; background-color:rgba(255, 255, 255, 0.822); border: black;">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Ingredients</h2>
          <p>{%for i in  ingredients["ingredients"]%} {{"".join(i["name"]).capitalize()}},   {%endfor%}  </p>
        
        
        </div>
        <div class="col-md-5">
          <h2>Instructions</h2>
          <p>{%for inst in instructions[0]["steps"]%}
            {{"".join(inst["step"])}}, {%endfor%}</p>
        </div>
        <div class="col-md-3">
          <h2>Equipments</h2>
          <p>{%for i in  equipments["equipment"]%}{{"".join(i["name"]) .capitalize()}} ,{%endfor%}</p>
        </div>
      </div>
    </div>
    </br>
  </br>
</div>
  </div>
  
  </main>
 
 



{% endblock %}
