{% extends 'base.html' %}
{% block title %}Welcomes{% endblock %}

{% block body %}
  
<form class="form-inline my-2 my-lg-0" action="/login" method="POST">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="email" name="email" class="form-control" id="inputPassword2" placeholder="Email">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="password" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Login</button>
</form>



</nav>

<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">Welcome to Find Me Recipe!!</h1>
      <p class="lead">Our website will help you to find different recipes from different cuisines!!.</p>
      <hr class="my-4">
      <p>Site is under construction.</p>
      <a class="btn btn-primary btn-lg" href="/sign_up" id="signUp" role="button">Sign Up</a>
    </div>
  </div>


{% endblock %}
